/*V1.1版本样式表*/
.App {
  background-color: #fff;
  font-family: 'Microsoft Yahei';
  margin-top: 2em;
  margin-right:auto;
  margin-left: auto;
  padding-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  max-width: 975px;
  box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.15);
}

@font-face {
  font-family: 'iconfont';  /* project id 348003 */
  src: url('//at.alicdn.com/t/font_tbufmpcw97eyu8fr.eot');
  src: url('//at.alicdn.com/t/font_tbufmpcw97eyu8fr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_tbufmpcw97eyu8fr.woff') format('woff'),
  url('//at.alicdn.com/t/font_tbufmpcw97eyu8fr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_tbufmpcw97eyu8fr.svg#iconfont') format('svg');
}

.icon {
  font-family: 'iconfont' !important;
}

i {
  font-style: normal;
}


.App .header {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height:100%;
  background: #3b99fc;
  padding: 1.5em 1em;
  color:#fff;
  vertical-align: middle;
  justify-content: space-between;
}

.App .header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #FFF;
  font-weight: normal;
  margin: 0;
}

.App .header a {
  color: #FFF;
  display: inline-block;
  cursor: pointer;
}

.App .header .icon {
  color:#fff;
  font-size: 1.5em;
  margin-right: .2em;
  vertical-align: middle;
}

.inputWrapper {
  display: flex;
  width: 100%;
  padding: 1em;
}
.App .todoList {
  width:100%;
  margin:0 auto;
  height: 100%;
}

.App .todoList> li{
  width: 97%;
  margin: 0 auto;
  color: #3e434f;
  border-bottom: 1px solid #eee;
  transition: .2s all ease;
}

.App .todoList> li:hover{
  background: rgba(250,250,250,1);
  border-bottom: 1px solid #3b99fc;
  transition: .3s all ease;
}
