@font-face {
  font-family: 'iconfont';  /* project id 348003 */
  src: url('//at.alicdn.com/t/font_4gh02eobhuxr.eot');
  src: url('//at.alicdn.com/t/font_4gh02eobhuxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_4gh02eobhuxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_4gh02eobhuxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_4gh02eobhuxr.svg#iconfont') format('svg');
}
.Menu {
  content: '';
  display: block;
  clear:both;
}
.Menu> .user-avatar,.Menu a {
  padding: .5em 0;
  margin: 5px;
  color: #fff;
  font-size: 1.5em;
  vertical-align: middle;
  cursor: pointer;
}
.Menu a {
  float:right;
}

/*.Menu> .logout {
  padding: .5em 0;
  float:right;
}

.Menu .logout .icon {
  font-family: 'iconfont' !important;
  margin: .3em;
  font-size: 2em;
  vertical-align: middle;
  cursor: pointer;
}

.Menu .logout .icon:hover {
  color: #ff5e5e;
}*/

.Menu .user-avatar .icon {
  font-family: 'iconfont' !important;
  margin-right: .3em;
  font-size: 2em;
  vertical-align: middle;
}

i {
  font-style: normal;
}

.logout {
  color: #fff;
}