.TodoItem {
  display: flex;
  height: 3em;
  align-items: center;
}
.TodoItem input[type="checkbox"] {
  width:1.2em;
  height:1.2em;
  margin-left: .5em;
  vertical-align: middle;
}

.TodoItem input:checked~label {
  text-decoration: line-through;
  opacity: .5;
}
.TodoItem .title {
  font-size: 1.1em;
  padding: .3em;
  flex: 1;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TodoItem> .del-btn{
  display: block;
  border: none;
  color: #b9b9b9;
  outline:none;
  font-size: 1.5em;
  cursor: pointer;
}

.TodoItem> .del-btn i {
  margin-right: .3em;
  font-style: normal;
  vertical-align:text-bottom;
}

.TodoItem> .del-btn i:hover {
  color:#ff4f4a;
  transition: all .3s;
}

