.TodoInput {
  height: 3em;
  flex-grow: 1;
  padding: 0.5em;
  outline: none;
  border: 1px solid #3b99fc;
}
::-webkit-input-placeholder {
  font-family: arial;
  font-weight: lighter;
  color: #bbb;
}
