.TodoItem {
  position: relative;
  display: flex;
  height: 3em;
  align-items: center;
}
.TodoItem input {
  width: 2em;
  height: 2em;
  margin-left: .5em;
}
.TodoItem input~label {
  outline: none;
  transition: .2s all ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.TodoItem input:checked~label {
  text-decoration: line-through;
  opacity: .4;
}
.TodoItem label {
  font-size: 1.1em;
  padding: .3em;
  flex: 1;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TodoItem> .del-btn{
  display: block;
  border: none;
  color: #b9b9b9;
  outline:none;
  font-size: 1.2em;
  margin-right: .5em;
  cursor: pointer;
}

.TodoItem> .del-btn i {
  font-style: normal;
  vertical-align:text-bottom;
}

.TodoItem> .del-btn i:hover {
  color:#ff4f4a;
  transition: all .3s;
}

