.UserDialog-Wrapper {
  /*全屏*/      position: fixed; top: 0; left: 0; bottom: 0; right: 0;
  /*内容居中*/  display: flex; justify-content: center; align-items: center;
  background: url(https://ooo.0o0.ooo/2017/07/05/595cb1053c31a.jpg) no-repeat center center;
  background-size: cover;
}

.UserDialog {
  box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.15);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  max-width: 750px;
  min-width: 360px;
}
.UserDialog:before {
  content: "Day's Todolist";
  display: block;
  flex-wrap: wrap;
  padding: .5em 0;
  text-align: center;
  font-size: 2.2em;
  color:#fff;
}

.UserDialog nav {
  display: flex;
  width: 100%;
}

.UserDialog nav input[type="radio"] {
  display: none;
}

.UserDialog nav label {
  text-align: center;
  width: 50%;
  height: 100%;
  padding: .6em;
  background: rgba(255,255,255,.3);
  display: inline-block;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}

.UserDialog nav label:hover {
  background: rgba(255,255,255,.6);
}

.panes {
  /*内容居中*/display: flex; justify-content: center; align-items: center;
  padding: 1.2em;
}

.UserDialog form > .row {
  display: flex;
  padding: .7em 5em;
}

.UserDialog form > .row > label {
  color: #fff;
}

.UserDialog form > .row > label:first-child {
  width: 4em;
  padding: 0.2em 0;
}

.UserDialog form > .row > input {
  width: 90%;
  padding: .3em;
  outline: none;
  border: 1px solid rgba(255, 255, 255, .5);
  color: #fff;
  background: transparent;
}

.UserDialog form > .row.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.UserDialog form > .row.actions button {
  width:100%;
  margin:0 auto;
  text-align: center;
  padding: .5em 1em;
  color: #fff;
  border: 1px solid #58a9ff;
  outline: none;
  background: #58a9ff;
  border-radius: 2px;
}

.UserDialog form > .row.actions button:hover {
  color: white;
  border: 1px solid #3b99fc;
  background: #3b99fc;
  cursor: pointer;
}

.UserDialog form>.row a {
  margin-left: .2em;
  font-size: 12px;
  color:#fff;
  cursor: pointer;
}
.UserDialog div.forgotPassword > h3 {
  color:#fff;
  padding:1em;
  margin-top: .5em;
  text-align: center;
}
.UserDialog form.forgotPassword {
  padding: 0 1em 1em;
}
