/*V1.1版本样式表*/
.App {
  background-color: #fff;
  margin-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.15);
}

@font-face {
  font-family: 'iconfont';  /* project id 348003 */
  src: url('//at.alicdn.com/t/font_h4osh66uixyctyb9.eot');
  src: url('//at.alicdn.com/t/font_h4osh66uixyctyb9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_h4osh66uixyctyb9.woff') format('woff'),
  url('//at.alicdn.com/t/font_h4osh66uixyctyb9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_h4osh66uixyctyb9.svg#iconfont') format('svg');
}

.icon {
  font-family: 'iconfont' !important;
  font-size: 14px;
  color: #fff;
}

i {
  font-style: normal;
}

.App .header {
  display: flex;
  width: 100%;
  background: #3b99fc;
  padding: 1.5em 1em;
  justify-content: space-between;
  align-items: flex-end;
}

.App .header h1 {
  font-size: 1.3em;
  color: #FFF;
  font-weight: normal;
  margin: 0;
}

.App .header a {
  color: #FFF;
  display: inline-block;
  cursor: pointer;
  font-size: 1em;
}

.App .header a i {
  margin-right: 3px;
  vertical-align: text-bottom;
}

.inputWrapper {
  display: flex;
  width: 100%;
  padding: 1em;
}

.inputWrapper input {
  height: 3em;
  flex-grow: 1;
  padding: 0.5em;
  outline: none;
  border: 1px solid #3b99fc;
}

.App > .todoList > li {
  width: 95%;
  margin: 0 auto;
}

.App > .todoList > li:nth-child(odd) {
  background: #cfe6ff;
  color: #333;
}

.App > .todoList > li:nth-child(even) {
  background: #fff;
  color: #333;
}